@font-face {
  font-family: "iconfont"; /* Project id 5051222 */
  src: url('iconfont.woff2?t=1768530978715') format('woff2'),
       url('iconfont.woff?t=1768530978715') format('woff'),
       url('iconfont.ttf?t=1768530978715') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuidi:before {
  content: "\e62f";
}

.icon-shanchuhang:before {
  content: "\e6f0";
}

.icon-shuidi1:before {
  content: "\e7ec";
}

.icon-fly:before {
  content: "\e641";
}

.icon-copy:before {
  content: "\e617";
}

.icon-geshihua:before {
  content: "\e68b";
}

.icon-shanchu:before {
  content: "\e63a";
}

.icon-senlinpeiyu:before {
  content: "\e600";
}

.icon-select-all:before {
  content: "\e7dd";
}

.icon-shuidi2:before {
  content: "\e602";
}

.icon-tihuan:before {
  content: "\e7d1";
}

.icon-sousuo:before {
  content: "\e60a";
}

.icon-jianshaosuojin:before {
  content: "\e62a";
}

.icon-zengjiasuojin:before {
  content: "\e62b";
}

.icon-yema:before {
  content: "\ec4d";
}

.icon-shuidimulu:before {
  content: "\e75c";
}

.icon-shuidi21:before {
  content: "\e618";
}

.icon-jump:before {
  content: "\e68c";
}

.icon-shuidi3:before {
  content: "\e745";
}

.icon-redo:before {
  content: "\e65c";
}

.icon-undo:before {
  content: "\e660";
}

.icon-yema1:before {
  content: "\e70f";
}

