@use '@_shared/assets/styles/tailwind.scss';

:root {
  --vp-c-brand-1: var(--vup-primary-6);
  --vp-c-brand-2: var(--vup-primary-5);
  --vp-c-brand-3: var(--vup-primary-5);
  --vp-c-brand-soft: var(--vup-primary-0);
  --vp-button-brand-bg: var(--vup-primary-5);
  --vp-button-brand-hover-bg: var(--vup-primary-6);
  --vp-home-hero-name-background: linear-gradient(
    120deg,
    var(--vup-primary-6),
    var(--vup-primary-4)
  );
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    var(--vup-primary-1),
    var(--vup-primary-3)
  );
}

.vp-doc .vitepress-demo {
  h2,
  h3,
  p {
    margin: 0;
    border: 0;
    padding: 0;
    line-height: inherit;
  }

  h2,
  h3 {
    letter-spacing: 0;
  }

  code {
    margin: 0;
    border: 0;
    background: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
}
